@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

$accent: #74eabf;
$light: #fff;
$dark1: #14161A;
$dark2: #1F2126;
$dark3: #292C33;
$dark4: #333740;
$font-xl: 24px;
$font-l: 16px;
$font-m: 14px;
$font-s: 12px;
$font-xs: 10px;

*{
	padding: 0;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
}

body {
	background-color: $dark1;
	width: 540px;
	margin: 40px auto;
}

.main{
	background-color: $dark2;
	padding: 40px;
}

.container{
	margin-bottom: 96px;
}

.heading{
	font-size: $font-l;
	color: $light;
}

.btn{
	color: $dark2;
	background-color: $accent;
	border: none;
	padding: 10px 20px;
	font-size: $font-s;
	font-weight: bold;
}

.btn:hover, .btn:focus{
	filter: brightness(.8);
	outline: none;
}

*:focus{
	outline: 1px $light solid;
	outline-offset: -1px;
}

nav{
	display: flex;
	justify-content: space-between;

	.logo{
		color: $light;
		font-weight: bold;
		font-size: $font-l;
	}

	a{
		color: rgba($light, .85);
		text-decoration: none;
	}

	a:hover, a:focus{
		text-decoration: underline;
		color: $light;
		outline: none;
	}

	.nav-links{
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;

		a{
			margin-left: 10px;
			font-size: $font-m;
		}
	}
}

.hero{
    display: flex;
	justify-content: space-between;

	.rects{
		width: 200px;
		height: 140px;
		background-color: $dark3;
		position: relative;
	
		.rect{
			position: absolute;
		}
	
		.rect.mid{
			width: 100px;
			height: 140px;
			background-color: $accent;
			bottom: 20px;
			right: 20px;
		}
	
		.rect.front{
			width: 100px;
			height: 80px;
			background-color: $dark4;
			top: 20px;
			left: 20px;
		}
	}

	.right{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: right;
	}

	.top{
		.heading{
			font-size: $font-xl;
			font-weight: bold;
			color: $light;

			span{
				color: $accent;
			}
		}

		.subheading{
			color: rgba($light, .85);
			font-size: $font-m;
			font-weight: lighter;
			margin-top: 20px;
		}
	}

	.scroll-down{
		font-size: $font-s;
		color: rgba($light, .75);
	}
}

.projects{
	.top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		.btns button{
			background-color: transparent;
			border: none;
			font-size: $font-xl;
			color: $light;
			margin-left: -8px;
		}

		.btns button:disabled{
			color: rgba($light, .5);
		}
	}

	.items{
		display: flex;
		justify-content: space-between;

		.item{
			position: relative;

			.img{
				background-color: $dark3;
				width: 220px;
				height: 180px;
			}

			.title{
				position: absolute;
				left: 20px;
				bottom: 20px;
				color: $light;
				font-size: $font-m;
				// padding: 20px;
				// background-color: $dark4;
			}
		}
	}
}

.contact{
	margin: 0;
	.heading{
		margin-bottom: 20px;
	}

	form{
		display: flex;
		flex-direction: column;

		input{
			height: 36px;
			padding: 0 10px;
		}

		input, textarea{
			margin-bottom: 10px;
			border: none;
			background-color: $dark1;
			color: #fff;
			font-size: $font-s;
		}

		textarea{
			padding: 10px;
		}
	}
}